* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --yellow: #FBC443;
  --blue: #2C3344;
  --white: #FBFBF7;
}

@media (max-width: 1080px) {
  html {
      font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
      font-size: 87.5%;
  }
}

body{
  background: var(--white);
}

body, input, textarea, button{
  font: 500 1rem Roboto, sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: Roboto, sans-serif;
}

h1{
  font-size: 2rem;
}

h2{
  font-size: 1.5rem;
}

button{
  cursor: pointer;
}

ul, li ,a {
  text-decoration: none;
  list-style: none;
}